*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Arial', sans-serif;
    background-color: #000000;
    height: 100vh;
    width: 98vw;

    display: flex;
    justify-content: center;
}

main{
    height: 100%;
    width: 60%;
    background-color: white;

}

aside{
    background-color: #f8a546;
    color: white;
    width: 40%;
    height: 100%;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.perfil{
    padding: 1em;
    width: 100%;
    background-color:#3aa6e6;
    display: grid;
    place-items: center;

    .foto{
        height: 100px;
        width: 100px;
        border-radius: 50%;
        margin-top: 1em;
        overflow: hidden
    }
}

.datos{
    text-align: center;
}

.datosPersonales{
    width: 100%;
    height: 200px;
    background-color: #f84646;
}

.redes{
    width: 100%;
    height: 150px;
    background-color: rgb(255, 170, 11);
}

.educacion{
    height: 300px;
    width: 100%;
    background-color: green;
}