*{
    /* margin: 0; */
    padding: 0;
    box-sizing: border-box;
}

html{
    background: linear-gradient(0deg, rgba(11,0,255,1) 0%, rgba(253,212,45,1) 100%);

}

.trabajos{
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    color: white;
    gap: 40px;
}

.tp0{
    background-color: black;
    height: 400px;
    width: 400px;
    border-radius: 20%;
    text-align: center;
}

.tp1{
    background-color: black;
    height: 400px;
    width: 400px;
    border-radius: 20%;
    text-align: center;
}

.fotoCv{
    height: 200px;
}

.fotoTarjeta{
    height: 300px;

}