*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: 'Arial', sans-serif;
    background-color: #000000;
    display: flex;
    justify-content: center;
}

main{
    background-color: white;

}

aside{
    background-color: rgb(49, 49, 49);
    color: white;
    width: 40%;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.perfil{
    padding: 1em;
    width: 100%;
    display: grid;
    place-items: center;

    .foto{
        border: double 7px #f8a546;
        box-shadow: 0px 0px 10px 10px #f8a546;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        margin-top: 1em;
        overflow: hidden
    }
}

.datos{
    text-align: center;
}

.datosPersonales{
    width: 100%;
    background-color: #919191;
    padding: 2em;

    ul.listaDP{
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        gap: 1em;

        li{
            list-style: none;
        }

    }
}

.redes{
    width: 100%;
    height: 150px;
    background-color: rgb(95, 95, 95);
    padding: 2em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.educacion{
    width: 100%;
    background-color: rgb(49, 49, 49);
    padding: 2em;
}

.experienciaLaboral{
    width: 100%;
    background-color: rgb(49, 49, 49);
    padding: 2em;
}

.contenedorFlexbox{
    display: flex;
    background-color: white;
    overflow-x: auto;
    gap: 10px;
    justify-content: center;
    align-items: center;

}

.tarjeta{
    flex: 0 0 100px;
    flex-basis: 100%;
    background-color: black;
    color: white;
    border-radius: 1em;
    padding: 1em;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.tarjeta:hover{
    transform: scale(1.01);
}
.tarjetaTitulo{
    font-size: 1.5em;
    font-weight: bold;
}

.tarjetaContenido{
    font-size: 1em;
    background-color: white;
    color: gray;
    padding: 1em;
    border-radius: 1em;
}

