*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tarjeta{
position: relative;
}

html, body {
    background-color: black;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .foto{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-top: 1em;
    overflow: hidden
  }

  .cabecera{
    place-items: center;
    width: 300px;
    height: 300px;
    background-color: rgb(114, 114, 114);
    border-radius: 20px 20px 0 0;
    padding: 1em;
  }

 .data{
    place-items: center;
    width: 300px;
    height: 200px;
    background-color: rgb(180, 180, 180);
    border-radius: 0 0 20px 20px;
    padding: 1em 2em 1em 2em;
}  

.nombre{
    text-align: center;
    color: rgb(0, 0, 0);
}

.datos{
    text-align: center;
    color: white;
    padding: 1em;
}

.stats{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    div{
        text-align: center;
    }
}

.mensaje{
    width: 200px;
    background-color: rgb(63, 234, 247);
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 30px;
}


.info{
    padding: 20px;
}

.mas{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: rgb(248, 114, 208);
    display: grid;
    place-items: center;
    position: absolute;
    top: 200px;
    right: -20px;
}